<div class="well container">
    <ul class="nav nav-tabs">
        <li ng-class="{active:isSet(1)}"><a href ng-click="setTab(1)">Profile</a></li>
        <li ng-class="{active:isSet(2)}"><a href ng-click="setTab(2)">Password</a></li>
    </ul>
    <div class="">
        <div class="tab-pane active in" ng-show="isSet(1)" id="home">
            <form name="editProfileForm">
                <label for="edit-name">Name</label>
                <input type="text" required="required" id="edit-name" ng-model="user.name" class="form-control">
                <label for="edit-email">Email</label>
                <input type="email" required="required" id="edit-email" ng-model="user.Email" class="form-control">
                <label for="edit-gender">Gender</label>
                <select ng-model="user.gender" class="form-control"
                        id="edit-gender">
                    <option value="0" ng-selected="checkGender(0)">Other</option>
                    <option value="1" ng-selected="checkGender(1)">Male</option>
                    <option value="2" ng-selected="checkGender(2)">Female</option>
                </select>
                <label class="btn btn-primary" for="cover-picture">
                    <input id="cover-picture" type="file" style="display:none;">
                    Upload profile picture
                </label>
                <label class="btn btn-primary" for="cover-picture">
                    <input id="profile-picture" type="file" style="display:none;">
                    Upload cover picture
                </label>
                <div>
                    <button class="btn btn-danger" ng-click="editProfile()" ng-disabled="editProfileForm.$invalid">
                        Update
                    </button>
                </div>
            </form>
        </div>
        <div class="tab-pane active in" ng-show="isSet(2)" id="profile">
            <form>
                <label for="old-pas">Old password</label>
                <input id="old-pas" ng-model="passwordData.oldPassword" type="password" required="required"
                       class="form-control">
                <label for="new-pas">New password</label>
                <input id="new-pas" ng-model="passwordData.newPassword" type="password" required="required"
                       class="form-control">
                <label for="conf-pas">Confirm new password</label>
                <input id="conf-pas" ng-model="passwordData.confNewPassword" type="password" required="required"
                       class="form-control">
                <div>
                    <button class="btn btn-primary" ng-click="changePassword(passwordData)">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
