<div class="well container">
    <h1>Change password</h1>
    <div>
        <div class="tab-pane active in" id="profile">
            <form name="changePasswordForm">
                <label for="old-pas">Old password</label>
                <input id="old-pas" ng-model="passwordData.oldPassword" ng-minlength="6" type="password"
                       required="required" class="form-control">
                <label for="new-pas">New password</label>
                <input id="new-pas" ng-model="passwordData.newPassword" ng-minlength="6" type="password"
                       required="required" class="form-control">
                <label for="conf-pas">Confirm new password</label>
                <input id="conf-pas" ng-model="passwordData.confirmPassword" ng-minlength="6" type="password"
                       required="required" class="form-control">
                <div class="text-center">
                    <button class="margin10 btn btn-primary" ng-disabled="changePasswordForm.$invalid"
                            ng-click="changePassword(passwordData)">Update
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
