<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default panel-google-plus">
                <div class="dropdown">
                    <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </span>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation" class="change-status"><a role="menuitem" tabindex="-1" href>Change issue
                            status</a></li>
                        <li role="presentation" ng-click="updateStatus(status.Id,status.Name)"
                            ng-repeat="status in issue.AvailableStatuses">
                            <a role="menuitem" tabindex="-1" href>{{status.Name}}</a>
                        </li>
                    </ul>
                </div>
                <h4><span class="label label-info">{{issue.Status.Name}}</span></h4>
                <div class="panel-heading">
                    <h2 class="text-center">{{issue.Title}}</h2>
                    <h4 class="text-muted"><span class="glyphicon glyphicon-calendar"></span> <span>{{issue.DueDate|date}}</span></h4>
                    <h4 class="text-muted"> <span class="glyphicon glyphicon-user"></span> {{issue.Assignee.Username}}</h4>
                </div>
                <div class="panel-body">
                    <h4>{{issue.Description}}</h4>
                </div>
                <h4 class="text-center">{{issue.Author.Username}} open this issue in project: <a
                        href="#/projects/{{issue.Project.Id}}">{{issue.Project.Name}}</a></h4>
                <div class="panel-footer">
                    <div ng-click="change()" ng-show="!inCommentMode" class="input-placeholder">Add a comment...</div>
                </div>
                <div ng-show="inCommentMode" class="panel-google-plus-comment">
                    <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46"
                         alt="User Image"/>

                    <div class="panel-google-plus-textarea">
                        <textarea ng-model="newComment.text" rows="4"></textarea>
                        <button type="submit" class="btn btn-success" ng-disabled="!newComment.text"
                                ng-click="postComment(newComment)">Post comment
                        </button>
                        <button type="reset" class="[ btn btn-default ]" ng-click="change()">Cancel</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div>
                    <h2 class="page-header">Comments</h2>
                    <article ng-repeat="comment in comments" class="row">
                        <div class="col-md-2 col-sm-2 hidden-xs">
                            <figure class="thumbnail">
                                <img class="img-responsive"
                                     src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg"/>
                                <figcaption class="text-center">{{comment.Author.Username}}</figcaption>
                            </figure>
                        </div>
                        <div class="col-md-10 col-sm-10">
                            <div class="panel panel-default arrow left">
                                <div class="panel-body">
                                    <header class="text-left">
                                        <div class="comment-user"><i class="fa fa-user"></i> That Guy</div>
                                        <time class="comment-date"><i class="glyphicon glyphicon-time"></i>{{comment.CreatedOn|date:'medium'}}
                                        </time>
                                    </header>
                                    <div class="comment-post">
                                        <p>
                                            {{comment.Text}}
                                        </p>
                                    </div>
                                    <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i
                                            class="fa fa-reply"></i> reply</a></p>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>