<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default panel-google-plus">
                <div class="dropdown">
                    <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                        <h4><span class="glyphicon glyphicon-chevron-down"></span></h4>
                    </span>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/projects/{{project.Id}}/edit">Edit Project</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="panel-heading">
                    <h2 class="text-center">{{project.Name}}</h2>
                    <h5 class="text-muted">Project leader : {{project.Lead.Username}}</h5>
                </div>
                <div class="panel-body">
                    <h4 class="container">{{project.Description}}</h4>
                </div>
                <h4 class="text-center" ng-repeat="label in project.Labels">{{label.Name}}
                    <!--<a href="#/projects/{{issue.Project.Id}}">{{issue.Project.Name}}</a>-->
                </h4>
                <div class="center">
                    <button data-toggle="modal" data-target="#squarespaceModal"
                            class="btn btn-primary center-block" ng-click="getUsers();getProjects()">Add a issue...
                    </button>
                </div>
                <div add-issue></div>
                <h2 class="text-center">Project issues</h2>
                <label for="filterIssues">Filter by:</label>
                <select id="filterIssues" ng-model="issueFilter" class="form-control">
                    <option selected="selected" value="{{nameU}}">My issues</option>
                    <option value="Open">Open</option>
                    <option value="Urgent">Urgent</option>
                    <option value="">All issues</option>
                </select>
                <table class="container table table-striped table-condensed">
                    <tbody>
                    <tr ng-repeat="issue in issues|filter:issueFilter">
                        <td style="vertical-align: middle" class="text-center"><a href="#/issues/{{issue.Id}}">{{issue.Title}}</a>
                        </td>
                        <td style="vertical-align: middle">{{issue.DueDate|date}}</td>
                        <td><h4><span class="label" ng-class="{'label-danger':issue.Priority.Id === 3,
                    'label-warning':issue.Priority.Id === 2,'label-primary':issue.Priority.Id === 1,}">{{issue.Priority.Name}}</span>
                        </h4></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<h1>{{issue}}</h1>
{{project}}