/* app css stylesheet */
.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

#loading-bar-spinner .spinner-icon {
    border-top-color: red;
    border-left-color: white;
}

#loading-bar .bar {
    background-color: white;
}

input.ng-invalid.ng-dirty {
    border-color: red;
}
form {
    padding: 10px;
}