<!DOCTYPE html>
<html lang="en" ng-app="issueTrackerSystem" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Issue Tracker System</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/notie/dist/notie.css">
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.min.css">
    <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="bower_components/angular-paging/dist/paging.min.js"></script>
</head>
<body ng-cloak ng-controller="MainCtrl">
<div class="margin-bottom-90"></div>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#/" class="navbar-brand">Issue Tracker System</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul ng-if="isAuthenticated"  class="nav navbar-nav">
                <li class="for-user for-admin">
                    <a href="#/dashboard">Dashboard</a>
                </li>
                <li ng-if="isAdminAuthenticated">
                    <a href="#/projects">Projects </a>
                </li>
                <li ng-if="isAdminAuthenticated">
                    <a href="#/makeAdmin">Make admin </a>
                </li>
                <li class="dropdown for-user for-admin">
                    <a class="dropdown-toggle" data-toggle="dropdown" href id="download">Profile <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="download">
                        <li><a href="#/profile">Edit Profile</a></li>
                        <li><a href="#/profile/password">Change Password</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="for-gust" ng-hide="isAuthenticated">
                    <a href="#/">Login</a>
                </li>
                <li ng-show="isAuthenticated" ng-click="logout()" class="for-user for-admin">
                    <a href="#/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ng-view></div>

<script src="bower_components/notie/dist/notie.min.js"></script>
<script src="app.js"></script>
<script src="common/notieService.js"></script>
<script src="common/project-service.js"></script>
<script src="common/users-service.js"></script>
<script src="common/label-service.js"></script>
<script src="common/typeahead-directive.js"></script>
<script src="common/issue-service.js"></script>
<script src="common/main-controller.js"></script>
<script src="common/route-resolvers-provider.js"></script>
<script src="users/user-access-directive.js"></script>
<script src="users/user-access-controller.js"></script>
<script src="users/authentication.js"></script>
<script src="users/identity.js"></script>
<script src="profile/edit-profile.controller.js"></script>
<script src="profile/password-controller.js"></script>
<script src="dashboard-page/dashboard-controller.js"></script>
<script src="issue-page/issue-controller.js"></script>
<script src="project-page/project-controller.js"></script>
<script src="add-issue-page/add-issue-directive.js"></script>
<script src="add-issue-page/add-issue-controller.js"></script>
<script src="add-project-page/add-project-directive.js"></script>
<script src="add-project-page/add-project-controller.js"></script>
<script src="all-projects-page/projects-controller.js"></script>
<script src="edit-project-page/edit-project-controller.js"></script>
<script src="edit-issue-page/edit-issue-controller.js"></script>
<script src="make-admin-page/make-admin-controller.js"></script>
</body>
</html>
