<div class="well container">
    <h1 class="text-center"><span class="glyphicon glyphicon-user"></span><br>Edit Profile</h1>
    <div class="">
        <div class="tab-pane active in" id="home">
            <form name="editProfileForm">
                <label for="edit-name">Name</label>
                <input type="text" required="required" id="edit-name" ng-model="user.Username" class="form-control">
                <label for="edit-email">Email</label>
                <input type="email" required="required" id="edit-email" ng-model="user.Email" class="form-control">
                <label for="edit-gender">Gender</label>
                <select ng-model="user.gender" class="form-control"
                        id="edit-gender">
                    <option value="0" ng-selected="checkGender(0)">Other</option>
                    <option value="1" ng-selected="checkGender(1)">Male</option>
                    <option value="2" ng-selected="checkGender(2)">Female</option>
                </select>
                <label class="btn btn-primary" for="cover-picture">
                    <input id="cover-picture" type="file" style="display:none;">
                    Upload profile picture
                </label>
                <label class="btn btn-primary" for="cover-picture">
                    <input id="profile-picture" type="file" style="display:none;">
                    Upload cover picture
                </label>
                <div>
                    <button class="btn btn-danger" ng-click="editProfile()" ng-disabled="editProfileForm.$invalid">
                        Update
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
