<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default panel-google-plus">
                <div class="dropdown" ng-if="userPermission">
                    <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                        <h4><span class="glyphicon glyphicon-chevron-down"></span></h4>
                    </span>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/projects/{{project.Id}}/edit">Edit
                            Project</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                    </ul>
                </div>
                <div class="panel-heading">
                    <h2 class="text-center">{{project.Name}}</h2>
                    <h5 class="text-muted">Project leader : {{project.Lead.Username}}</h5>
                </div>
                <div class="panel-body">
                    <h4>{{project.Description}}</h4>
                </div>
                <div class="text-center">
                    <span class="glyphicon glyphicon-tag"></span>
                    <span ng-repeat="label in project.Labels">&nbsp;{{label.Name}}&nbsp;</span>
                </div>
                <div class="center" ng-if="userPermission">
                    <button data-toggle="modal" data-target="#squarespaceModal"
                            class="btn btn-primary center-block" ng-click="getUsers();getProjects()">Add a issue...
                    </button>
                    <div add-issue></div>
                </div>
                <h2 class="text-center">Project issues</h2>
                <label for="filterIssues">Filter by:</label>
                <select id="filterIssues" ng-change="changeFilterCriteria(criteria)" ng-model="criteria"
                        class="form-control">
                    <option selected="selected" value="My issues">My issues</option>
                    <option value="Open">Open</option>
                    <option value="Closed">Closed</option>
                    <option value="All">All issues</option>
                </select>
                <table class="container table table-striped table-condensed">
                    <tbody>
                    <tr ng-repeat="issue in issues">
                        <td style="vertical-align: middle" class="text-center"><a href="#/issues/{{issue.Id}}">{{issue.Title}}</a>
                        </td>
                        <td style="vertical-align: middle">{{issue.DueDate|date}}</td>
                        <td><h4><span class="label" ng-class="{'label-info':issue.Priority.Id > 3,'label-danger':issue.Priority.Id === 3,
                    'label-warning':issue.Priority.Id === 2,'label-primary':issue.Priority.Id === 1,}">{{issue.Priority.Name}}</span>
                        </h4></td>
                        <td ng-if="userPermission" ><a href="#/issues/{{issue.Id}}/edit"><h4><span class="glyphicon glyphicon-pencil"></span></h4></a> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>